{% extends 'base-main.html' %}
{% load staticfiles %}
{% block content %}
  <div class="row" style="margin-top:2%;">
    <div class="col-sm-3">
      <div class="index1">
        <a class="generatel" href="/add_resources/"><h2 class ='generate'>Add<br>resources</h2></a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="index1">
        <a class="generatel" href="/update_resources/"><h2 class ='generate'>Update<br>resources</h2></a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="index1">
        <a class="generatel" href="//"><h2 class ='generate'>Add DTI</h2></a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="index1">
        <a class="generatel" href="https://mail.google.com"><h2 class='generate'>Send<br>MAIL</h2></a>
      </div>
    </div>
  </div>
{% endblock %}