{% extends 'base-main.html' %}
{% load staticfiles %}
{% block content %}
  <div class="row" style="margin-top:2%;">
    <div class="col-sm-4">
      <div class="index1">
        <a class="generatel" href="/view_resources/{{id}}"><h2 class ='index2'>View<br>resources</h2></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="index1">
        <a class="generatel" href="https://mail.google.com"><h2 class ='index2'>Request<br>resources</h2></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="index1">
        <a class="generatel" href="//"><h2 class ='index2'>Generate<br>TimeTable</h2></a>
      </div>
    </div>
  </div>
{% endblock %}