{% extends 'base-main.html' %}
{% load staticfiles %}
{% block content %}
  <div class="row" style="margin-top:2%;">
    <div class="col-sm-6">
      <div class="index1">
        <a class="generatel" href="/ctti/"><h2 class ='generate'>College <br>Time Table <br>In-charge<br>(CTTI)</h2></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="index1">
        <a class="generatel" href="/department/"><h2 class ='generate'>Departmental <br>Time Table <br>In-charge<br>(DTI)</h2></a>
      </div>
    </div>
  </div>
{% endblock %}