{% extends 'base-main.html' %}
{% block content %}
<div class="team-section" id="team">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h1 class="w3l-title">Add </h1></center>
            <hr style="border:1px solid black;">
			<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
					{{form}}
				</select>
				<button type="submit" class="btn btn-danger" style="float: right;">Submit</button><br>
			</form>
		</div>
            <div class="col-md-3"></div>
	</div>
</div>
{% endblock %}